.app {
  display: flex;
  height: 100vh;
  background-color: #031f3b !important;
 
}

.main-container {

  
  margin-left: 200px; 
  width: calc(100% - 200px); 
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-color: #f0f0f0;
}



.content {
  flex-grow: 0; 
  padding: 20px;
  background-color: #0b0131;
  min-height: 100vh;
}
.navbar-custom {
    background-color: #0b0131;
    color: white; 
}
.navbar-custom .nav-link,
.navbar-custom .navbar-brand,
.navbar-custom .dropdown-item {
  color: white !important;
} 

 h1{
  background-color: #0b0131;
  color: white ;
 margin-bottom: 0 ;

 
}

